* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

a{
  margin-bottom: 20px;
}

.box{
  border: solid 1px black;
}

.contenido{
  align-items: center;
}