{% extends "base_template.html" %}

{% block content %}
<form action="/Cargar_pariciones/" class="form-group col-3" method="POST">
  {% csrf_token %}
  <select class="form-control" name="caravana" id="caravana" style="margin-bottom: 20px;">
    <option selected>Número de caravana</option>
    {% for animal in animales %}
    <option>{{animal.nro_caravana}}</option>
    {% endfor %}
  </select>

  <input type="text" class="form-control" name="fecha" id="fecha" placeholder="Fecha AAAA-MM-DD" style="margin-bottom: 20px;">

  <input name="" id="" class="btn btn-primary" type="submit" value="Agregar" style="margin-bottom: 20px;">
</form>
{% endblock %}