{% extends "base_template.html" %}

{% block content %}
    <form action="/Editar/" class="form-group col-3" method="POST">
        {% csrf_token %}
        <input type="hidden" class="form-control" name="id" id="id" style="margin-bottom: 20px;" value="{{id_a.id}}">
        <label for="">Número de caravana</label>
        <input type="text" class="form-control" name="nro_caravana" id="nro_caravana" placeholder="Número de caravana" style="margin-bottom: 20px;" value="{{id_a.nro_caravana}}">
        {% if id_v.id %}
        <label for="">Fecha de vacunación</label>
        <input type="hidden" class="form-control" name="id_v" id="id_v" style="margin-bottom: 20px;" value="{{id_v.id}}">
        <input type="text" class="form-control" name="fecha_v" id="fecha_v" placeholder="AAAA-MM-DD" style="margin-bottom: 20px;" value="{{ ult_v.0.ult_fecha_vacunacion|date:"Y-m-d" }}">
        <label for="">Descripción</label>
        <input type="textarea" class="form-control" name="descripcion" id="descripcion" cols="30" rows="10" style="margin-bottom: 20px;" value="{{description.0.description}}"> 
        {% endif %}
        {% if id_p.id %}
        <label for="">Fecha de parición</label>
        <input type="hidden" class="form-control" name="id_p" id="id_p" style="margin-bottom: 20px;" value="{{id_p.id}}">
        <input type="text" class="form-control" name="fecha_p" id="fecha_p" placeholder="AAAA-MM-DD" style="margin-bottom: 20px;" value="{{ ult_p.0.ult_fecha_paricion|date:"Y-m-d" }}">
        {% endif %}
        <input type="submit" class="btn btn-primary btn-sm" value="Guardar">
    </form>
{% endblock %}  