{% extends "base_template.html" %}

{% block content %}

  <div style="border: solid 1px black; margin-bottom: 20px;">
    <h2>Plantel total</h2>
    <img src="../static/img/Plantel.png" alt="">
  </div>
  
  <div style="border: solid 1px black; margin-bottom: 20px;">
    <h2>Mortandad</h2>
    <img src="../static/img/Mortandad.png" alt="">
  </div>

  <div style="border: solid 1px black; margin-bottom: 20px;">
    <h2>Parición</h2>
    <img src="../static/img/Paricion.png" alt="">
  </div>
{% endblock %}