{% extends "base_template.html" %}
{% load tz %}
{% block content %}
    
    <div class="tabla col-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Caravana
              <form action="" method="GET" class="form-inline" style="margin-bottom: 10px;">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar.." name="buscar_c">
                <button hidden type="submit" class="btn btn-secondary">Buscar</button>
            </form>
            </th>
            <th scope="col">Categoria
              <form action="" method="GET" class="form-inline" style="margin-bottom: 10px;">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar.." name="buscar_t">
                <button hidden type="submit" class="btn btn-secondary">Buscar</button>
            </form>
            </th>
            <th scope="col">Última fecha de vacunación
              <form action="" method="GET" class="form-inline" style="margin-bottom: 10px;">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar.." name="buscar_v">
                <button hidden type="submit" class="btn btn-secondary">Buscar</button>
            </form>
            </th>
            <th scope="col">Última fecha de parición
              <form action="" method="GET" class="form-inline" style="margin-bottom: 10px;">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar.." name="buscar_p">
                <button hidden type="submit" class="btn btn-secondary">Buscar</button>
            </form>
            </th>
            <th scope="col">Editar/Eliminar</th>
          </tr>
        </thead>
        <tbody>
        {% for animal in animales %}
          <tr>
            <th scope="row">{{animal.nro_caravana}}</th>
            <td>{{animal.name}}</td>
              <td>
                {% for vacuna in ult_vacunacion %}
                  {% if vacuna.id_animal_id == animal.id %}
                    {{vacuna.ultima_fecha|date:"Y-m-d"}}
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for pario in ult_paricion %}
                  {% if pario.id_animal_id == animal.id %}
                    {{pario.ultima_fecha|date:"Y-m-d"}}
                  {% endif %}
                {% endfor %}
              </td>
            <td>
              <form action="/Editar/" method="GET">
                {% csrf_token %}
                <input type="hidden" name="animal_id" value="{{ animal.id }}">
                <input type="submit" name="editar" class="btn btn-primary btn-sm" value="Editar" style="margin-bottom: 5px;">
              </form>
              <form action="/Lista_animales/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="animal_id" value="{{ animal.id }}">
                <input type="submit" name="eliminar" class="btn btn-danger btn-sm" value="Eliminar" style="margin-bottom: 5px;">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
{% endblock %}